* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #f4f0e7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px;

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;

        a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.75);
        }

        .select {
            border-bottom: 2px solid rgb(205, 92, 21);
        }
    }

    a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.75);
    }
}


.fale {
    text-decoration: none;

    color: rgba(0, 0, 0, 0.65);

    font-family: Arial, sans-serif;
    font-size: 9px;

    letter-spacing: 1px;
}



.hero {
    width: 100%;
    height: calc(100vh - 55px);

    display: flex;

    overflow: hidden;
}


/* =========================
   LADO ESQUERDO
========================= */

.texto {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 7%;
    padding-bottom: 10px;

    background-color: #E9D9A3;
}


/* LINHA VERMELHA */

.linha {
    width: 18px;
    height: 2px;

    background-color: rgb(205, 92, 21);

    margin-bottom: 8px;
}


/* TEXTO PEQUENO */

.subtitulo {
    margin-bottom: 12px;

    font-family: Arial, sans-serif;

    font-size: 10px;
    letter-spacing: 1px;

    color: #4c4b3d;
}


.texto h1 {
    margin-bottom: 10px;

    font-family: Georgia, "Times New Roman", serif;

    font-size: clamp(78px, 4vw, 48px);

    line-height: 0.92;

    font-weight: 500;

    color: #101c1c;
}

.texto h1 span {
    color: rgb(180, 48, 39);

    font-style: italic;
}


.descricao {
    margin-bottom: 15px;

    font-family: Arial, sans-serif;

    font-size: 20px;
    line-height: 1.5;

    color: #5c5a48;
}



.texto button {
    width: 138px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;

    background-color: #101c1c;

    color: white;

    font-family: Arial, sans-serif;

    font-size: 8px;
    letter-spacing: 0.5px;

    cursor: pointer;
}

.texto button:hover {
    background-color: #263434;
}


.imagem {
    width: 50%;
    height: 100%;

    overflow: hidden;
}

.imagem img {
    width: 100%;
    height: 100%;

    display: block;

    object-fit: cover;
    object-position: center;
}