* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #f4f0e7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px;

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;

        a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.75);
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .select {
            border-bottom: 2px solid rgb(205, 92, 21);
        }
    }

    a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.75);
    }
}


.fale {
    text-decoration: none;

    color: rgba(0, 0, 0, 0.65);

    font-family: Arial, sans-serif;
    font-size: 9px;

    letter-spacing: 1px;
}



.hero {
    width: 100%;
    height: calc(100vh - 55px);

    display: flex;

    overflow: hidden;
}


/* =========================
   LADO ESQUERDO
========================= */

.texto {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 7%;
    padding-bottom: 10px;

    background-color: #E9D9A3;
}


/* LINHA VERMELHA */

.linha {
    width: 18px;
    height: 2px;

    background-color: rgb(205, 92, 21);

    margin-bottom: 8px;
}


/* TEXTO PEQUENO */

.subtitulo {
    margin-bottom: 12px;

    font-family: Arial, sans-serif;

    font-size: 10px;
    letter-spacing: 1px;

    color: #4c4b3d;
}


.texto h1 {
    margin-bottom: 10px;

    font-family: Georgia, "Times New Roman", serif;

    font-size: clamp(78px, 4vw, 48px);

    line-height: 0.92;

    font-weight: 500;

    color: #101c1c;
}

.texto h1 span {
    color: rgb(180, 48, 39);

    font-style: italic;
}


.descricao {
    margin-bottom: 15px;

    font-family: Arial, sans-serif;

    font-size: 20px;
    line-height: 1.5;

    color: #5c5a48;
}



.texto button {
    width: 138px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;

    background-color: #101c1c;

    color: white;

    font-family: Arial, sans-serif;

    font-size: 8px;
    letter-spacing: 0.5px;

    cursor: pointer;
}

.texto button:hover {
    background-color: #263434;
}


.imagem {
    width: 50%;
    height: 100%;

    overflow: hidden;
}

.imagem img {
    width: 100%;
    height: 100%;

    display: block;

    object-fit: cover;
    object-position: center;
}


.abertura{
    display: flex;
    margin-top: 63px;
    margin-left: 32px;
    
.barra{
    display: flex;
    margin-top: 5px;
    color: rgb(180, 48, 39);
}

.abrt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 700px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

H1{
    display: flex;

    font-family: Georgia, "Times New Roman", serif;
    font-size: clamp(38px, 4vw, 48px);

    line-height: 0.92;

    font-weight: 520;
}

span{
    color: rgb(180, 48, 39);

    font-style: italic;
}

}

.opcoes{
    display: flex;
    font-size: 13px;
    gap: 22px;
    margin-top: 42px;
    margin-left: 32px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.barrinha{
    display: flex;
    margin-left: 32px;
    font-size: 33px;
    color: #a4a4a4;

    span{
     color: rgb(180, 48, 39);
    }
}

.six{
    display: flex;
    margin-left: 32px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 22px;
    font-size: 13px;
}

.cards{
    display: flex;
    gap: 32px;
    margin-left: 32px;
    margin-top: 32px;
    
    .te{
        height: 440px;
        width: 440px;
        background-image: url(images/product-espresso.jpg);
        background-size: cover;
        background-position: center;

        h2{
            display: flex;
            font-size: 33px;
            margin-top: 463px;
            font-weight: 600;
        }

        h4{
            display: flex;
            margin-top: 9px;
        }

        p{
            display: flex;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-top: 3px;
        }
    }

    .tr{
        height: 440px;
        width: 440px;
        background-image: url(images/product-cold-brew-tonica.jpg);
        background-size: cover;
        background-position: center;

        h2{
            display: flex;
            font-size: 33px;
            margin-top: 463px;
            font-weight: 600;
        }

        h4{
            display: flex;
            margin-top: 9px;
        }

        p{
            display: flex;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-top: 3px;
        }
    }

    .tb{
        height: 440px;
        width: 440px;
        background-image: url(images/product-toast-cogumelos.jpg);
        background-size: cover;
        background-position: center;

        h2{
            display: flex;
            font-size: 33px;
            margin-top: 463px;
            font-weight: 600;
        }

        h4{
            display: flex;
            margin-top: 9px;
        }

        p{
            display: flex;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-top: 3px;
        }
    }
    img{
     width: 500px;
     height: 500px;

    display: flex;
}
    
}

.cardes{
    display: flex;
    gap: 32px;
    margin-left: 32px;
    margin-top: 172px;
    
    .et{
        height: 440px;
        width: 440px;
        background-image: url(images/product-coado.jpg);
        background-size: cover;
        background-position: center;

        h2{
            display: flex;
            font-size: 33px;
            margin-top: 463px;
            font-weight: 600;
        }

        h4{
            display: flex;
            margin-top: 9px;
        }

        p{
            display: flex;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-top: 3px;
        }
    }

    .rt{
        height: 440px;
        width: 440px;
        background-image: url(images/product-pao-de-queijo.jpg);
        background-size: cover;
        background-position: center;

        h2{
            display: flex;
            font-size: 33px;
            margin-top: 463px;
            font-weight: 600;
        }

        h4{
            display: flex;
            margin-top: 9px;
        }

        p{
            display: flex;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-top: 3px;
        }
    }

    .bt{
        height: 440px;
        width: 440px;
        background-image: url(images/product-matcha.jpg);
        background-size: cover;
        background-position: center;

        h2{
            display: flex;
            font-size: 33px;
            margin-top: 463px;
            font-weight: 600;
        }

        h4{
            display: flex;
            margin-top: 9px;
        }

        p{
            display: flex;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-top: 3px;
        }
    }





    img{
     width: 500px;
     height: 500px;

    display: flex;
}
    
}

.caixafinal {
    width: 100%;
    height: calc(80vh - 5px);
    margin-top: 190px;
    display: flex;

    overflow: hidden;
}



.textofinal{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 7%;
    padding-bottom: 10px;

    background-color: #162923 ;
}


/* LINHA VERMELHA */

.linhas {
    width: 18px;
    height: 2px;

    background-color: rgb(205, 92, 21);

    margin-bottom: 8px;
}



.subtitulos {
    margin-bottom: 12px;

    font-family: Arial, sans-serif;

    font-size: 10px;
    letter-spacing: 1px;

    color: #f8f8f8;
}


.textofinal h1 {
    margin-bottom: 10px;

    font-family: Georgia, "Times New Roman", serif;

    font-size: clamp(60px, 4vw, 48px);

    line-height: 0.92;

    font-weight: 500;

    color: #feffff;
}

.textofinal h1 span {
    color: rgb(180, 48, 39);

    font-style: italic;
}


.descricaos {
    margin-bottom: 15px;

    font-family: Arial, sans-serif;

    font-size: 20px;
    line-height: 1.5;

    color: #fafaf9;
}



.textofinal button {
    width: 138px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;

    background-color: #101c1c;

    color: white;

    font-family: Arial, sans-serif;

    font-size: 8px;
    letter-spacing: 0.5px;

    cursor: pointer;
}

.textofinal button:hover {
    background-color: #263434;
}


.imagemfinal{
    width: 50%;
    height: 100%;
    display: flex;
    background-color: #162923 ;
    overflow: hidden;
}

.imagemfinal img {
    width: 100%;
    height: 80%;

    display: block;

    object-fit: cover;
    object-position: center;
}

