* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px;

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;

        a {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.75);
        }

        .select {
            border-bottom: 2px solid rgb(205, 92, 21);
        }
    }

    a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.75);
    }
}