*{
    margin: 0;
    padding: 0;
    background-color: #F4EFE5;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    img{
        width: 150px;
    }
    h1{
        font-size: 20px;
        font-weight: 500;
    }
    a{
        margin: 10px; 
        color: rgb(2, 60, 5);
        font-size: 15px;
        text-decoration: none;
    }
}
.decoracao{
    &:hover{
        transition: 1s;
        color: #B53A27;
    text-decoration: double;
    }
}
.linha{
    border: rgba(0, 0, 0, 0.292) solid 1px
}
.escrita{
    display: flex;
    width: 580px;
    font-size: 90px;
    span{
        color: #B53A27;
    }
}
.informacao{
    font-family: 'Cormorant Garamond', serif;
    margin-top: 200px;
    width: 600px;
    height: auto;
    margin-left: 40px;
}
.bara{
    display: flex;
    align-items: center;
    width: 200px;
    height: 10px;
    border: solid ;
    background-color: #026018;
}
.bara1{
    display: flex;
    align-items: center;
    width: 200px;
    height: 10px;
    border: solid 2px;
    margin-left: 20px;
}   
.barras{
    display: flex;
    margin-top: 30px;
}
.mapa{
    margin-top: 150px;
    flex: 1;    
}
.caixa-iframe{
    background-color: rgb(37, 128, 207);
    width: 50px;
    
    position: absolute;
    button{
        border: none;
    }
}
.mapa iframe{
    width:600px;
    height:600px;
    margin-left: 120px;
    border:none;
    border-radius:20px;
    filter: grayscale(100%);
    position: relative;
}
.informacoes{
    display: flex;
}
.funcionamento{
    display: flex;
}
.onde{
    p{
        font-size: 25px;
        width: 220px;
    }
    h3{
      color: #B53A27;  
    }
    h4{
        margin-top: 5px;
        font-weight: 200;

    }
  
}
.horario{
    width: 200px;
    h2{
     font-size: 15px ;
     width: 200px;
     color: gray;
    }
    span{
        color: black;
    }
h3{
    color: #B53A27;
}
}
.fale-conosco{
    color: rgb(78, 77, 77);
    h3{
        color: #B53A27;
    }

}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #026018;
    img{
        width: 150px;
        background-color: #026018;
    }
    h2{
        background-color: #026018;
        color: rgb(255, 255, 255);
    }
    p{
     background-color: #026018;
        color: white;
    }
}
.rodape{
    background-color: #026018;
}
.email{ 
    display: flex;
    align-items: center;
     border-bottom: 2px solid #b9b9b5;
    padding-bottom: 12px; 
    input{
        border: none;
        margin-top: 20px;

    }
    button{
        border: none;
        color: #B53A27;
        margin-left: 400px;
        width: 50px;
    }
}
.balcao{
    margin-top: 20px;
    h2{
        margin-top: 10px
    }
}
.vem-linha{
    width: 20px;
    height: 2px;
    background-color: #B53A27;
}
.vem{
    display: flex;
    align-items: center;
    h2{
        margin-left: 10px;
        font-weight: 300;
    }
}